header {
    display: flex;
    justify-content: space-between;
    background-color: #7B9E89;
    border-bottom: 10px solid #000;
    padding: 10px 20px 13px;
}

img {
    box-shadow: 4px 4px 0px #000;
}
nav {
    text-align: right
}

a { 
    display: inline-flex;
    align-items: center;
    color: #000; 
    font-size: 20px; 
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    font-weight: "600";
    text-decoration: none;
    margin-right: 30px;
}

a::before {
    display: inline-block;
    content: "";
    background-color: #F18805; 
    height: 10px;
    width: 10px;
    margin-right: 10px;
}

a:hover {
    transform: scale(1.04);
}s


#Padawan {
    font-style: normal;
}

#button {
    display: inline-block;
    background-color: #F18805;
    height: 60px;
    line-height: 60px;
    padding-right: 20px;
    padding-left: 7px;
    box-shadow: 5px 5px 0px #000; 
    margin: 0px;
    transition: transform 100ms linear;
}

#button:hover {
    transform: scale(1.07);
}