body {
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
}

body, img, h1, h2, h3 {
        margin: 0;
    }
    
button {
    border: none;
    font-family: inherit;
} /*esse seletor de tag me parece ser lixo, pois não achei essa tag button no codigo*/