.card-project {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F18805;
    width: 280px;
    height: 280px;
    box-shadow: 10px 10px 0px #fff;
}

.card-project.-card-minha-planilha {
background-color: #7B9E89;
}