.main-button {
    display: inline-block;
    background-color: #F18805;
    height: 60px;
    line-height: 60px;
    padding-right: 20px;
    padding-left: 20px;
    box-shadow: 5px 5px 0px #140d0d; 
    margin: 0px;
    transition: transform 100ms linear;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: #000;
    
    /*
    align-items: center;
    color: #000; 
    text-decoration: none;
    margin-right: 30px;
    */
}

.main-button:hover {
    transform: scale(1.07);
}
