.section {
    background-color: #3A4042;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #F0A202;
}


/*
.skills .languages {
    font-family: "Press Start 2P", sans-serif;
    color: #F18805;
    font-size: 25px;
}

.skills .lista {
   
}

*/
